// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.container-index {
  height: 100vh;
  .container-left,
  .container-right {
    margin-top: 50px;
    height: calc(100% - 50px);
  }

  .container-right {
    padding-left: 0;
    padding-right: 0;
  }
}

#googleMap {
  height: 100%;
}

#search_dropdown {
  margin-top: 36px;
  width: 100%;
}

.pin-place {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50% 50% 50% 0;
  background: #89849b;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -18px 0 0 -8px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  opacity: 0.8;
  &:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #2e353f;
    position: absolute;
    border-radius: 50%;
    box-shadow: inset 0 2px 0 #252A32;
    top: 50%;
    left: 50%;
    margin-left: -6.5px;
    margin-top: -6px;
  }

  &.place {
    background: #CDDC39;
    opacity: 1;
    z-index: 12;
    //&:after {
    //  display: none;
    //}

    .fa {
      font-size: 16px;
      position: absolute;
      color: #000;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      margin-left: -8px;
      margin-top: -8px;
      transform: rotate(45deg);
    }
  }

  &.original {
    &:after {
      background: #CDDC39;
      box-shadow: inset 0 2px 0 #CDDC39;
    }
  }

  &.destination {
    &:after {
      background: #90dc2f;
      box-shadow: inset 0 2px 0 #90dc2f;
    }
  }
}

.container-list-place {
  padding-top: 15px;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  .input-search {
    flex: none;
  }
  .list-place {
    height: calc(100% - (297px + 15px));
    flex: 1;
    &:last-child {
      padding-bottom: 15px;
    }
    > .mCustomScrollbar {
      height: 100%;
    }
  }
}

.image-place-small {
  width: 64px;
  height: 64px;
  border: 2px solid #607D8B;
  padding: 2px;
  border-radius: 3px;
}

.gmnoprint {
  .gm-style-mtc {
    display: none;
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.test-frontend-nav {
  background-color: #99A9BF;
  border-color: transparent;
  color: #fff;

  .navbar-brand {
    color: #fff;
  }
}

#search_value {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #bfcbd9;
  box-sizing: border-box;
  color: #1f2d3d;
  display: inline-block;
  font-size: inherit;
  height: 36px;
  line-height: 1;
  outline: none;
  padding: 3px 10px;
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
  width: 100%;
}

.input-search {
  .input-group-btn {
    .btn {
      &:focus ,
      &:active ,
      &:hover {
        background: transparent;
      }
      border: 1px solid #bfcbd9;
    }
  }

  input {
    width: 100%;
  }
}

.input-custom {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #bfcbd9;
  box-sizing: border-box;
  color: #1f2d3d;
  display: inline-block;
  font-size: inherit;
  height: 36px;
  line-height: 1;
  outline: none;
  padding: 3px 10px;
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
  width: 100%;
}

.bounce-tfe {
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.pulse-test-frontend {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 10px 0 0 -3px;
  transform: rotateX(55deg);
  z-index: -2;
  &:after {
    content: "";
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    margin: -13px 0 0 -13px;
    opacity: 0.0;
    box-shadow: 0 0 1px 2px #89849b;
    animation-delay: 1.1s;
  }

  &.tfe {
    &:after {
      box-shadow: 0 0 1px 2px #CDDC39;
    }
  }

  &.animation {
    &:after {
      animation: pulsate 1s ease-out;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }
  80% {
    transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}

.popup-detail {
  padding: 10px;
  position: absolute;
  width: 135px;
  left: 0;
  bottom: 0;
  margin-left: -56px;
  margin-bottom: 23px;
  z-index: 20;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 3px;
  .close {
    margin-top: -12px;
    margin-right: -5px;
  }
  &.place-over {
    display: block !important;
  }
}

.marker-tfe {
  .popup-detail {
    display: none;
  }

  &:hover {
    .popup-detail {
      display: block;
    }
  }
}

.no-list {
  font-style: italic;
  text-align: center;
}

.place-item {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
  cursor: pointer;
}

.list-photo {
  margin-bottom: 15px;
  height: 190px;
  max-height: 190px;
  .thumbnail {
    background: transparent;
    border: none;
    .media-object {
      height: 190px;
      max-height: 190px;
      border-radius: 5px;
      border: 2px solid #607D8B;
      padding: 2px;
    }
  }
}

.photos {
  margin-top: 10px;
}

.on-load {
  position: absolute;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  z-index: 100;
  .bg {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
  }
  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
