<div class="container-fluid">
    <div class="row container-index">
        <div class="col-xs-3 container-left container-list-place">
            <from>
                <div class="input-search">
                    <div class="form-group">
                        <label for="inputLat">Latitude</label>
                        <input type="number" step="0.001" class="form-control" id="inputLat" placeholder="Latitude"
                               ng-model="coords.lat">
                    </div>
                    <div class="form-group">
                        <label for="inputLog">Longitude</label>
                        <input type="number" step="0.001" class="form-control" id="inputLog" placeholder="Longitude"
                               ng-model="coords.lng">
                    </div>
                    <div class="form-group">
                        <label for="inputRad">Radius</label>
                        <input type="number" class="form-control" id="inputRad" placeholder="Radius" ng-model="radius">
                    </div>
                    <div class="form-group">
                        <label for="inputRad">Search place</label>
                        <div class="input-group">
                            <angucomplete id="search"
                                          placeholder="Search place"
                                          pause="1000"
                                          minlength="2"
                                          selectedobject="keywordSearch"
                                          url="/autocomplete_search_place?keyword="
                                          datafield="data"
                                          titlefield="description"
                                          inputclass="form-control"/>
                            <span class="input-group-btn">
                            <button class="btn btn-default" id="btnSearch"
                                    type="button" ng-click="callSearchPlace()">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="list-place">
                    <div ng-scrollbars ng-scrollbars-config="config">
                        <div class="media place-item" ng-repeat="item in places track by $index" ng-mouseenter="placeOver(item)"
                             ng-mouseleave="placeOverLeave()"
                             ng-click="detailModal(item)">
                            <div class="media-left">
                                <img alt="64x64" class="media-object image-place-small"
                                     ng-src="{{item.url_image}}"
                                     on-error-src="/img/no_image.png">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><b>{{item.name}}</b></h4>
                                <h5>Distance: <span ng-if="item.distance">{{item.distance}} KM</span></h5>
                                <div>{{item.vicinity}}</div>
                            </div>
                        </div>
                        <div class="no-list" ng-if="places.length == 0">
                            No list
                        </div>
                    </div>
                </div>
            </from>
        </div>
        <div class="col-xs-9 container-right" map-lazy-load="https://maps.google.com/maps/api/js"
             map-lazy-load-params="{{googleMapsUrl}}">
            <ng-map center="{{coords.lat + ',' + coords.lng}}" zoom="15" id="googleMap" scrollwheel="false"
                    styles="{{stylesMap}}">

                <shape id="circle" name="circle" center="{{coords.lat + ',' + coords.lng}}"
                       ng-if="googleMap"
                       stroke-color='#66b2e3' stroke-opacity="0.8" stroke-weight="1.5"
                       fill-color="#66b2e3" fill-opacity="0.5"
                       center="current-position" radius="{{radius}}"></shape>

                <custom-marker ng-repeat="item in places track by $index" id="place-{{$index}}"
                               position="{{[item.lat,item.lng]}}">
                    <div class="marker-tfe" ng-click="detailModal(item)">
                        <div class="popup-detail text-center" ng-class="{ 'place-over': objPlaceOver.id == item.id }">
                            {{item.name}}
                        </div>
                        <div class="pin-place place tfe"></div>
                        <div class="pulse-test-frontend tfe animation"></div>
                        <div class="clearfix"></div>
                    </div>
                </custom-marker>

            </ng-map>
        </div>
    </div>
</div>