<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Place detail</h3>
</div>
<div class="modal-body" id="modal-body" style="min-height: 300px">
    <div class="on-load" ng-if="onload">
        <div class="bg"></div>
        <div class="icon">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>
    </div>
    <div>
        <b>Name: {{placeDetail.name}}</b>
    </div>
    <div>
        <b>Address: {{placeDetail.address}}</b>
    </div>
    <div>
        <b>Photos: </b>
    </div>
    <div class="row photos">
        <div class="col-xs-6 col-md-3 list-photo" ng-repeat="photo in placeDetail.photos track by $index">
            <div class="thumbnail">
                <img class="media-object"
                     ng-src="{{photo}}"
                     on-error-src="/img/no_image.png">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="close()">Close</button>
</div>